html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
    background-image: url("../qq.jpg")
}

html {
  position: center;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  position: center;
}