@page
@model registration_form.Pages.aboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>this website is created in 2022 , the purpose of making the registration form webiste is the user fill his details on the feilds with the
    dedicated message of why he/she is registering to thw website. its main purpose of send a user details with user's message or purpose. </p>

<p>@DateTime.Now</p>